$accent: #D4E8D9;
$menu-text: #2C2D35;
$title-text: #598D66; 
$text: #86928B;
$btn-color: #376B44;
$color-2: #F4F6F5;
$btn-color-2: #D4E8D9;
$btn-color-3: #EEDB6D;
$btn-hover: #D9B949;
$footer: #E1EDE6;
$rectangle: #C3D1C6;
$burger: rgba(76, 88, 102, 1);

%Raleway-500 {
    font-family: "Raleway-Medium";
    font-weight: 500;
}

%Raleway-700 {
    font-family: "Raleway-Bold";
    font-weight: 700;
}  